version: "3.8"

services:
  litellm:
    image: ghcr.io/berriai/litellm:main-stable

    volumes:
      - /data/coolify/applications/ug4cc4kw8g8k4ssws84w8kwk/config.yaml:/app/config.yaml
      - /data/coolify/applications/ug4cc4kw8g8k4ssws84w8kwk/proxy.py:/app/proxy.py

    command:
      - "--config=/app/config.yaml"

    ports:
      - "4050:4000"

    env_file:
      - .env

    environment:
      DATABASE_URL: "${DATABASE_URL}"
      STORE_MODEL_IN_DB: "True"

    depends_on:
      - db

  db:
    image: postgres:16
    restart: always
    container_name: litellm_db

    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

    ports:
      - "6448:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
    name: litellm_postgres_data
